var express = require('express');
var bodyParser = require('body-parser');
var frontofficeRouter = express.Router();
var arr = [
    {{#controllers}}
    {
        name: "{{controllerTitle}}",
        href: "./backoffice/{{controllerTitle}}",
        icon: "{{controllerIcon}}"
    }{{#comma}},{{/comma}}
    {{/controllers}}    
];

/************************************************************************************************************************************/
/*************************************************** FrontOffice TopViews **********************************************************/
/************************************************************************************************************************************/

{{#controllersFrontOffice}}
var {{controllerTitleLower}} = require('../Models/{{controllerTitle}}.js');
var {{controllerTitleLower}}Schema = require('../Models/{{controllerTitle}}-schema.js');
{{/controllersFrontOffice}} 

/**
 * Rota da que vai fazer render do ficheiro frontoffice.mustache com a informação devolvida da função
 * ordered da classe {{controllerTitle}} {{controllersFrontOffice.[0]}}
 *
 */
frontofficeRouter.get('/',function(req,res) {
    var renderObject = {
        cssPath: [
                { css: "css/default.css"},
                { css: "css/nav.css"},
                { css: "css/all.css"},
                { css: "css/tops.css"}
            ],
        controllers:  arr,
        titles: []
    };
    {{controllersFrontOffice.0.controllerTitleLower}}.top("{{controllersFrontOffice.0.controllerProperty}}", "{{controllersFrontOffice.0.controllerOrder}}", "{{controllersFrontOffice.0.controllerLimit}}", function (rows) {
        renderObject.query1_first5 = get5(rows, 1, "awards");
        renderObject.query1_last5 = get5(rows, renderObject.query1_first5.length + 1, "awards");
        renderObject.titles.push("{{controllersFrontOffice.0.controllerComparison}}");
        {{controllersFrontOffice.1.controllerTitleLower}}.top("{{controllersFrontOffice.1.controllerProperty}}", "{{controllersFrontOffice.1.controllerOrder}}", "{{controllersFrontOffice.1.controllerLimit}}", function (rows) {
            renderObject.query2_first5 = get5(rows, 1, "imdb_pontuation");
            renderObject.query2_last5 = get5(rows, renderObject.query2_first5.length + 1, "imdb_pontuation");
            renderObject.titles.push("{{controllersFrontOffice.1.controllerComparison}}");
            {{controllersFrontOffice.2.controllerTitleLower}}.top("{{controllersFrontOffice.2.controllerProperty}}", "{{controllersFrontOffice.2.controllerOrder}}", "{{controllersFrontOffice.2.controllerLimit}}", function (rows) {
                renderObject.query3_first5 = get5(rows, 1, "awards");
                renderObject.query3_last5 = get5(rows, renderObject.query3_first5.length + 1, "awards");
                renderObject.titles.push("{{controllersFrontOffice.2.controllerComparison}}");
                {{controllersFrontOffice.3.controllerTitleLower}}.top("{{controllersFrontOffice.3.controllerProperty}}", "{{controllersFrontOffice.3.controllerOrder}}", "{{controllersFrontOffice.3.controllerLimit}}", function (rows) {
                    renderObject.query4_first5 = get5(rows, 1, "awards");
                    renderObject.query4_last5 = get5(rows, renderObject.query4_first5.length + 1, "awards");
                    renderObject.titles.push("{{controllersFrontOffice.3.controllerComparison}}");
                    res.render('frontoffice', renderObject);
                });
            });
        });
    });
});

function get5(array, index, rankType){
    var array_return = [];
    var array_aux = [];
    var index_aux = index;
    if(array.length > 0){        
        if(array.length >= 5){
            array_aux = array.splice(0,5);        
        }else array_aux = array.splice(0,array.length);   
    }     
    if(array_aux.length > 0){
        array_aux.forEach(function(element){
            array_return.push(
                {
                    element: element,
                    title: index_aux.toString().concat("º ", element.name, " (", element[rankType], ")")
                }
            );
            index_aux++;
        });
    }
    console.log(array_return);
    return array_return; 
}

module.exports = frontofficeRouter;