var express = require('express');
var bodyParser = require('body-parser');
var frontofficeRouter = express.Router();
var arr = [
    {{#controllers}}
    {
        name: "{{controllerTitle}}",
        href: "./backoffice/{{controllerTitle}}"
    }{{#comma}},{{/comma}}
    {{/controllers}}    
];

/************************************************************************************************************************************/
/*************************************************** FrontOffice TopViews **********************************************************/
/************************************************************************************************************************************/

{{#controllersFrontOffice}}
var {{controllerTitleLower}} = require('../Models/{{controllerTitle}}.js');
var {{controllerTitleLower}}Schema = require('../Models/{{controllerTitle}}-schema.js');
{{/controllersFrontOffice}} 

/**
 * Rota da que vai fazer render do ficheiro frontoffice.mustache com a informação devolvida da função
 * ordered da classe {{controllerTitle}}
 *
 */
frontofficeRouter.get('/',function(req,res) {
    res.render('frontoffice', {
            cssPath: "http://localhost:8082/style.css",
            controllers:  arr,
            /*rows: rows.map(obj => {
                return {
                    properties: Object.keys(obj).map(key => {
                        return {
                            name: key,
                            value: obj[key]
                        }
                    })
                }
            }),
            columns: Object.keys(new {{controllerTitleLower}}()).map(key => {
                return {
                    name: key
                };
            })*/
        });
    /*{{controllerTitleLower}}.top("{{controllerProperty}}", "{{controllerOrder}}", "{{controllerLimit}}", function (rows) {
        console.log("estou aqui");
        console.log(rows);
        
    });*/
});
module.exports = frontofficeRouter;